<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet House Docs</title>
    <style>
      body{
        font-size: 1.6rem;
      }
    </style>
  </head>
  <body>
    <h1 id="rest-api-with-node-express-mongoose">
      Rest API with Node Express &amp; Mongoose
    </h1>
    <p>Env Variables managed with dotenv</p>
    <pre><code>process<span class="hljs-selector-class">.env</span><span class="hljs-selector-class">.VARIABLE</span>
</code></pre>
    <h2 id="endpoints">Endpoints</h2>
    <h4 id="get-all-owners-get-">Get All Owners(GET)</h4>
    <pre><code>https:<span class="hljs-regexp">//</span>pethouse1.herokuapp.com<span class="hljs-regexp">/api/</span>v1<span class="hljs-regexp">/owner/</span>
</code></pre>
    <h4 id="get-owner-by-id-get-">Get Owner by ID(GET)</h4>
    <pre><code>https:<span class="hljs-regexp">//</span>pethouse1.herokuapp.com<span class="hljs-regexp">/api/</span>v1<span class="hljs-regexp">/owner/</span><span class="hljs-number">61</span>e5162e4a31aacf8aa88ab7
</code></pre>
    <h4 id="post-owner-post-">Post Owner(POST)</h4>
    <pre><code>https:<span class="hljs-regexp">//</span>pethouse1.herokuapp.com<span class="hljs-regexp">/api/</span>v1<span class="hljs-regexp">/owner</span>
</code></pre>
    <p>Body</p>
    <pre><code class="lang-json">{
    <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Amar"</span>,
    <span class="hljs-attr">"gender"</span>: <span class="hljs-string">"Male"</span>,
    <span class="hljs-attr">"petCount"</span>: <span class="hljs-number">3</span>,
    <span class="hljs-attr">"address"</span>: <span class="hljs-string">"Kerala"</span>
}
</code></pre>
    <h4 id="update-owner-put-">Update Owner(PUT)</h4>
    <pre><code>https:<span class="hljs-regexp">//</span>pethouse1.herokuapp.com<span class="hljs-regexp">/api/</span>v1<span class="hljs-regexp">/owner/i</span>d
</code></pre>
    <p>Body</p>
    <pre><code class="lang-json">{
    <span class="hljs-attr">"name"</span>: <span class="hljs-string">"Amar"</span>,
    <span class="hljs-attr">"gender"</span>: <span class="hljs-string">"Male"</span>,
    <span class="hljs-attr">"petCount"</span>: <span class="hljs-number">3</span>,
    <span class="hljs-attr">"address"</span>: <span class="hljs-string">"Kerala"</span>
}
</code></pre>
    <h4 id="delete-owner-delete-">Delete Owner(DELETE)</h4>
    <pre><code>https:<span class="hljs-regexp">//</span>pethouse1.herokuapp.com<span class="hljs-regexp">/owner/</span>api<span class="hljs-regexp">/v1/i</span>d
</code></pre>
    <h2 id="same-for-pets-">Same for <code>/pets</code></h2>
    <pre><code>https:<span class="hljs-regexp">//</span>pethouse1.herokuapp.com<span class="hljs-regexp">/api/</span>v1<span class="hljs-regexp">/pet/</span>
</code></pre>
    <h2 id="graphql">Graphql</h2>
    <pre><code>https:<span class="hljs-regexp">//</span>pethouse1.herokuapp.com<span class="hljs-regexp">/api/</span>v2<span class="hljs-regexp">/graphql/</span>
</code></pre>
    <h2 id="todos">Todos</h2>
    <ul>
      <li>Auth</li>
      <li><p>GraphQL</p></li>
      <li><p>Hubspot Learnings</p></li>
      <li>store locater</li>
      <li>animations GSAP Scroll Anims</li>
    </ul>
    <p>workflows zoom tax related</p>
  </body>
</html>
